<ul>
  <ng-template #recursiveList let-data>
    <li *ngFor="let item of data ; index as i">
      <div class="form-inline">
      
        <div class="posionIco">
          <div *ngIf="item.rutas.length > 0">
              <img (click)="isCheckImg(item.nombre,i+1)" 
              id="img-{{item.nombre}}-{{i+1}}" 
               width="10" height="10" 
              src="../../../assets/img/mas.svg">
          </div>    
        </div>

        <input  (click)='evento(item.id)' class="form-check-input {{item.id}}"  [checked]="item.esSelect" type="checkbox" id="d-{{item.id}}">
        <label class="form-check-label" for="d-{{item.nombre}}-{{item.id}}">
          {{item.secuenciaRuta}}:{{item.description}}
        </label>

      </div>

       <ul *ngIf="item.rutas.length > 0" class="checkOculto" id="check-{{item.nombre}}-{{i+1}}">
         <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.rutas}"></ng-container>
       </ul>
       
    </li>
  </ng-template>
  
  <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: data}"></ng-container>
</ul>

