.container-fluid{
    background-image: url("./../../../assets/img/ventas.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

@media (max-width: 576px) { 
    .d-flex{
        min-width: 75%;
    }
}

    

