<div class="container-fluid">
    <div class="d-flex justify-content-center mt-4">
        <div class="card">
            <h2 class="card-title pl-4 pt-4">Datos Personales</h2>
            <div class="card-body">
                <div class="d-flex flex-row ">
                    <div class="w-25">
                        <div class="form-group text-center pt-4">
                            <img  class="border" width="90" height="90" src="assets/img/user_icon-icons.com_57997.svg" for="foto"/>
                            <label for="foto">Foto</label>
                        </div>
                    </div>
                    <div class="p-2 w-25 align-self-end">
                        <div class="form-group">
                            <label for="formGroupExampleInput">Tipo de Identificación</label>
                            <select class="custom-select">
                                <option selected>Seleccionar</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                    <div class="p-2 w-25 align-self-end">
                        <div class="form-group">
                            <label for="formGroupExampleInput">Número de Identificación</label>
                            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
                        </div>
                    </div>
                    <div class="p-2 w-25 align-self-end">
                        <div class="form-group">
                            <label for="formGroupExampleInput">Género</label>
                            <select class="custom-select">
                                <option selected>Seleccionar</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-row">
                    <div class="p-2 w-25">
                        <div class="form-group">
                            <label for="formGroupExampleInput">Primer Nombre</label>
                            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
                        </div>
                    </div>
                    <div class="p-2 w-25">
                        <div class="form-group">
                            <label for="formGroupExampleInput">Segundo Nombre</label>
                            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
                        </div>
                    </div>
                    <div class="p-2 w-25">
                        <div class="form-group">
                            <label for="formGroupExampleInput">Primer Apellido</label>
                            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
                        </div>
                    </div>
                    <div class="p-2 w-25">
                        <div class="form-group">
                            <label for="formGroupExampleInput">Segundo Apellido</label>
                            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-row">
                    <div class="p-2 w-25">
                        <div class="form-group">
                            <label for="formGroupExampleInput">Fecha de Nacimiento</label>
                            <input type="date" class="form-control" id="formGroupExampleInput" placeholder="Example input">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center mt-4">
        <div class="card">
            <h2 class="card-title pl-4 pt-4">Datos Residencia</h2>
            <div class="card-body">
                <div class="d-flex flex-row">
                    <div class="p-2 w-25">
                        <div class="form-group">
                            <label for="formGroupExampleInput">Pais</label>
                            <select class="custom-select">
                                <option selected>Seleccionar</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                
                    <div class="p-2 w-25">
                        <div class="form-group">
                            <label for="formGroupExampleInput">Provincia</label>
                            <select class="custom-select">
                                <option selected>Seleccionar</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                    <div class="p-2 w-25">
                        <div class="form-group">
                            <label for="formGroupExampleInput">Ciudad</label>
                            <select class="custom-select">
                                <option selected>Seleccionar</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center mt-4">
        <div class="card">
            <h2 class="card-title pl-4 pt-4">Datos de Usuario</h2>
            <div class="card-body">
                <div class="d-flex flex-row">
                    <div class="p-2 w-50">
                        <div class="form-group">
                            <label for="formGroupExampleInput">Usuario</label>
                            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
                        </div>
                    </div>
                    <div class="p-2 w-50">
                        <div class="form-group">
                            <label for="formGroupExampleInput">Email</label>
                            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex  m-auto justify-content-end" style="width: 65%;">
        <div class="p-2"><button type="button" class="btn btn-primary justify">Guardar</button></div>
    </div>
</div>

