<div class="container-fluid">
    <h1 class="text-center mt-5">Material Design</h1>
    <div class="find">
      <form class="example-form">
        <input type="text"
        placeholder="Search for a street"
        [formControl]="control"
        [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" style="width: 100px;">
          <mat-option *ngFor="let street of filteredStreets | async" [value]="street.primerApellido">
            <p>{{street.numeroIdentificacion}}  - {{street.primerApellido}}</p> 
          </mat-option>
        </mat-autocomplete>
      </form>
    </div>
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Mat-Table</ng-template>
            <br><br>
            <h1 class="text-center mt-9">Mat-Table</h1>
            <div class="row text-center mt-5 justify-content-center">
                <div class="col-10">
                  <div *ngIf="data!=null; then thenBlock else elseBlock"></div>

                  <ng-template #elseBlock>
                    <div class="item">
                      <!-- Disables the animation -->
                      <ngx-skeleton-loader animation="false"></ngx-skeleton-loader>
                      <!-- Uses `progress` as animation -->
                      <ngx-skeleton-loader animation="progress"></ngx-skeleton-loader>
                      <!-- Disables the animation -->
                      <ngx-skeleton-loader animation="false"></ngx-skeleton-loader>
                      <!-- Uses `progress` as animation -->
                      <ngx-skeleton-loader animation="progress"></ngx-skeleton-loader>
                        <!-- Disables the animation -->
                      <ngx-skeleton-loader animation="false"></ngx-skeleton-loader>
                      <!-- Uses `progress` as animation -->
                      <ngx-skeleton-loader animation="progress"></ngx-skeleton-loader>
                      <ngx-skeleton-loader></ngx-skeleton-loader>
                      <!-- Uses `pulse` as animation -->
                      <ngx-skeleton-loader animation="pulse"></ngx-skeleton-loader>
                    </div>
                  </ng-template>

                  <ng-template #thenBlock>
                      <app-table-pagination *ngIf="mostrarTabla" 
                      [numeroDatos]="[5,10,15]" 
                      [elementData]="data" 
                      [displayedColumns]="camposJson"></app-table-pagination>
                  </ng-template>

                </div>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" label="Fill out your address">
          <form [formGroup]="secondFormGroup">

          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <p>You are now done.</p>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <p>You are now done.</p>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button (click)="stepper.reset()">Reset</button>
            </div>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <p>You are now done.</p>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button (click)="stepper.reset()">Reset</button>
            </div>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <p>You are now done.</p>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button (click)="stepper.reset()">Reset</button>
            </div>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <p>You are now done.</p>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button (click)="stepper.reset()">Reset</button>
            </div>
          </mat-step>
      </mat-horizontal-stepper>
</div>
