<div class="container-fluid">
    <div id="mySidebar" class="sidebar">
        <div class="card justify-content-center" id="card-perfil">
          <img class="card-img-top" id="marco-img" [src]="data.photo" alt="Card image">
          <div class="card-body">
            <h4 class="card-title p-0 m-0"><p class="ml-2">Nombre: {{data.primerNombre | titlecase}} {{data.primerApellido | titlecase}}</p></h4>
            <h4 class="card-title p-0 m-0"><p class="ml-2">Usuario: {{data.usuario | titlecase}}</p></h4>
          </div>
        </div>
      <hr style="background-color: white;">
      <br>
      <nav class="navbar navbar-expand-lg w-100">
          <ul class="navbar-nav w-100 p-0">
            <li class="nav-item dropdown w-100 p-0 mb-2">
              <a class="nav-link  w-100 a-principal" [routerLink]="['./modulos']" href="#" role="button">
                Modulos
              </a>
            </li>

            <li class="nav-item dropdown w-100 p-0 mb-2">
              <a class="nav-link dropdown-toggle w-100 a-principal" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Seguridad
              </a>
              <div class="dropdown-menu w-100" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item w-100" routerLinkActive="active-item" [routerLink]="['./seguridad/usuarios']">Usuarios</a>
              </div>
            </li>
          </ul>
      </nav>
    </div>

    <div id="main" class="border-2">
      <div class="d-flex" id="menu-principal">
        <div class="p-2 mr-auto"> <button class="openbtn" (click)=" openOclose(true)">☰</button></div>
        <div class="p-2 float-right"><a><img class="pointer mt-2"width="20" height="20" src="../../../assets/img/configuraciones.svg"></a></div>
        <div class="p-2"><a [routerLink]="['/login']"><img class="pointer mt-2" width="20" height="20" src="../../../assets/img/boton-de-encendido-apagado.svg"></a></div>
      </div>
      <hr style="margin-bottom: 50px; color:#455a64; margin-top: -1px;">  
      <router-outlet></router-outlet>
    </div>
</div>

