<div class="container-fluid">
    <div id="mySidebar" class="sidebar">
      <a href="javascript:void(0)" class="closebtn"></a>
      <a href="#">About</a>
      <a href="#">Services</a>
      <a href="#">Clients</a>
      <a href="#">Contact</a>
    </div>

    <div id="main">
      <div class="d-flex">
        <div class="mr-auto p-2"> <button class="openbtn" (click)=" openOclose(true)">☰</button></div>
        <div class="p-2"><a><img class="pointer"width="20" height="20" src="../../../assets/img/configuraciones.svg"></a></div>
        <div class="p-2"><a><img class="pointer" width="20" height="20" src="../../../assets/img/boton-de-encendido-apagado.svg"></a></div>
      </div>
      <hr style="color:#455a64; margin-top: -1px;">  
      <router-outlet></router-outlet>
    </div>
</div>

