<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-10 mt-5">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Numero de Identificacion</th>
            <th>Primer Nombre</th>
            <th>Segundo Nombre</th>
            <th>Primer Apellido</th>
            <th>Segundo Apellido</th>
            <th>Usuario</th>
            <th>Actualizar</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let d of data; index as i">
            <th scope="row">{{i+1}}</th>
            <td >{{d.numeroIdentificacion }}</td>
            <td >{{d.primerNombre | titlecase}}</td>
            <td >{{d.segundoNombre | titlecase}}</td>
            <td >{{d.primerApellido | titlecase}}</td>
            <td >{{d.segundoApellido | titlecase}}</td>
            <td >{{d.usuario}}</td>
            <td ><img (click)="getUsuarioXId(d.secuenciaUsuarioSistema)" data-toggle="modal" data-target="#usuario" matTooltip="Actualiza los datos del usuario" width="20" src="../../../../assets/img/captcha.svg"></td>
            <td class="img-size"><img (click)="deleteUsuario(d.secuenciaUsuarioSistema)" matTooltip="Elimina el usuario" width="20" src="../../../../assets/img/eliminar.svg"></td>
          </tr>
      </table>
      <app-paginador *ngIf="mostrarPag" [totalDatos]="totalRows" [datosPorpagina]="perPage" (paginaSeleccionada)="getpaginacion($event)"></app-paginador>
    </div>

    <!-- Modal -->
    <div class="modal" id="usuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenteredLabel">Actualizacion de Usuario</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <form>
                  <div class="row justify-content-center">
                    <div class="col-5">
                      <div class="form-group">
                        <label>Primer Nombre</label>
                        <input  type="text" class="form-control" placeholder="Primer Nombre"
                        name="primerNombre"  #primerNombre="ngModel" [(ngModel)]="dataAct.primerNombre">
                      </div>
                    </div>
                    <div class="col-5">
                      <div class="form-group">
                        <label >Segundo Nombre</label>
                        <input type="text" class="form-control" placeholder="Segundo Nombre"
                        name="segundoNombre"  #segundoNombre="ngModel" [(ngModel)]="dataAct.segundoNombre">
                      </div>
                    </div>

                    <div class="col-5">
                      <div class="form-group">
                        <label >Primer Apellido</label>
                        <input  type="text" class="form-control" placeholder="Example input"
                        name="primerApellido"  #primerApellido="ngModel" [(ngModel)]="dataAct.primerApellido">
                      </div>
                    </div>
                    <div class="col-5">
                      <div class="form-group">
                        <label>Segundo Apellido</label>
                        <input type="text" class="form-control" placeholder="Example input"
                        name="segundoApellido"  #segundoApellido="ngModel" [(ngModel)]="dataAct.segundoApellido">
                      </div>
                    </div>
                    <div class="col-5">
                      <div class="form-group">
                        <label>{{'crearUsuario.tipoIdentificacion' | translate }}</label>
                        <select class="custom-select" id="select-tipoIdentificacion">
                            <option  [ngValue]=0>{{'global.seleccionar' | translate }}</option>
                            <option  [selected]="dataAct.codigoTipoIdentificacion==d.codigoTipoIdentificacion" *ngFor="let d of tipoIdentificacion" [ngValue]="d.codigoTipoIdentificacion">{{d.nombreTipoIdentificacion}}</option>
                        </select>
                    </div>
                    </div>
                    <div class="col-5">
                      <div class="form-group">
                        <label >Numero de Identificacion</label>
                        <input type="text" class="form-control" placeholder="Example input"
                        name="numeroIdentificacion"  #numeroIdentificacion="ngModel" [(ngModel)]="dataAct.numeroIdentificacion">
                      </div>
                    </div>
                    <div class="col-5">
                      <div class="form-group">
                        <label>Género</label>
                        <select class="custom-select" id="select-genero">
                          <option [ngValue]=0>{{'global.seleccionar' | translate }}</option>
                          <option [selected]="d.codigoGenero==dataAct.codigoGenero" *ngFor="let d of genero" [ngValue]="d.codigoGenero">{{d.descripcionGenero}}</option>
                      </select>
                      </div>
                    </div>
                    <div class="col-5">
                      <div class="form-group">
                        <label>FechaNacimiento</label>
                        <input type="date" class="form-control" placeholder="Example input"
                        name="fechaNacimiento"  #fechaNacimiento="ngModel" [(ngModel)]="dataAct.fechaNacimiento">
                      </div>
                    </div>
                  </div>
              </form>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" (click)="putActualizarUsuario(dataAct.secuenciaUsuarioSistema)"class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
