input{
  text-transform: capitalize;
}

.container-fluid{
  margin: 0px;
  padding: 0px;
}


.text-transform-none{
  text-transform: none;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
