<div class="container-fluid">
  <h1 class="text-center" >Lista de Usuarios</h1>
  <div class="d-flex flex-row justify-content-center">
      <div class="p-2">
        <form>
          <div class="form-group">
            <label for="estado">Estado</label>
            <select class="custom-select" id="estados" (change)="estadoUsuario()" name="estados"  #estados="ngModel"  [(ngModel)]="estado" >
              <option selected="" value="TODOS" >Todos</option>
              <option value="ACTIVO">Activo</option>
              <option value="INACTIVO">Inactivo</option>
            </select>
          </div>
        </form>
      </div>

      <div class="p-2">
        <form>
          <div class="form-group">
            <label for="cedula">Cédula o Usuario</label>
            <input (change)="validarVacio($event.target.value)" id="cedulaCodigoUsuario" type="text" class="form-control" id="cedula"  name="cedulaCodigoUsuario"  #cedulaCodigoUsuario="ngModel" [(ngModel)]="valor" placeholder="Cédula o Usuario">
          </div>
        </form>
    </div>
    <div class="p-2 align-self-center" >
      <form>
        <button type="button" class="btn btn-primary" (click)="listarUsuario()">Buscar</button>
      </form>
    </div>
    <div class="p-2 align-self-center" >
      <div class="dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          Crear Usuario
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Empleado registrado</a>
          <a class="dropdown-item" [routerLink]="['../crear-usuario']">Empleado no registrado</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-10 mt-5">
      <div *ngIf="data!=null; then thenBlock else elseBlock"></div>
      <ng-template #elseBlock>
          <div class="item">
            <!-- Disables the animation -->
            <ngx-skeleton-loader animation="false"></ngx-skeleton-loader>
            <!-- Uses `progress` as animation -->
            <ngx-skeleton-loader animation="progress"></ngx-skeleton-loader>
             <!-- Disables the animation -->
             <ngx-skeleton-loader animation="false"></ngx-skeleton-loader>
             <!-- Uses `progress` as animation -->
            <ngx-skeleton-loader animation="progress"></ngx-skeleton-loader>
              <!-- Disables the animation -->
            <ngx-skeleton-loader animation="false"></ngx-skeleton-loader>
            <!-- Uses `progress` as animation -->
            <ngx-skeleton-loader animation="progress"></ngx-skeleton-loader>
            <ngx-skeleton-loader></ngx-skeleton-loader>
            <!-- Uses `pulse` as animation -->
            <ngx-skeleton-loader animation="pulse"></ngx-skeleton-loader>
          </div>
        </ng-template>
      <ng-template #thenBlock>
          <table class="table text-center">
            <thead>
              <tr>
                <th>#</th>
                <th>Nro Identificacion</th>
                <th>Nombres Completos</th>
                <th>Email</th>
                <th>Usuario</th>
                <th>Estado</th>
                <th>Roles</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let d of data; index as i">
                <th scope="row">{{i+1}}</th>
                <td >{{d.numeroIdentificacion}}</td>
                <td >{{d.nombresCompletos | titlecase}}</td>
                <td >{{d.email | titlecase}}</td>
                <td >{{d.usuario}}</td>
                 <td ><div class="form-check form-switch">
                  <input type="checkbox" class="form-check-input" id="customSwitch-{{i}}" [checked]="d.estado" (change)="activarOInactivarUsuario(d.secuenciaUsuario)">
                  <label class="form-check-label" for="customSwitch-{{i}}"></label>
                </div>
              </td>
              <td >

                <!-- Button trigger modal -->
                <!-- <button type="button"  class="btn btn-primary" data-toggle="modal" [attr.data-target]="'#exampleModalScrollable-'+(i+1)"> -->
                  <img src="../../../../../../assets/img/plus.svg" width="25" height="25"
                  data-toggle="modal" [attr.data-target]="'#exampleModalScrollable-'+(i+1)">
                <!-- </button> -->

              <!-- Modal -->
              <div class="modal" id="exampleModalScrollable-{{i+1}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5>Roles</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <h5 class="w-100 text-left">Roles por asignar</h5>
                      <div class="form-check">
                        <div class="form-check form-check-inline" *ngFor="let a of d.roles;index as j">
                            <input class="form-check-input checkboxRol" [checked]="a.esSelect==true" type="checkbox" id="inlineCheckbox-{{j+1}}" value="{{a.secuenciaRol}}">
                            <label class="form-check-label" for="inlineCheckbox-{{i+1}}">{{a.nombre}}</label>
                        </div>
                        <hr>
                      </div>
                      <!-- <app-chips (dataEliminado)="dataEliminado($event)" [cabecera]="'Roles asignados'" [data]="d.roles"></app-chips> -->
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                      <button (click)="guardar(d.secuenciaUsuario)"  type="button" class="btn btn-primary">Guardar Cambios</button>
                    </div>
                  </div>
                </div>
              </div>
              </td>
              </tr>
          </table>
          <app-paginador *ngIf="mostrarPag" [totalDatos]="totalRows" [datosPorpagina]="perPage" (paginaSeleccionada)="getpaginacion($event)"></app-paginador>
        </ng-template>
        <br><br>
    </div>
</div>
