<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-8">
            <h1 class="text-center">Roles</h1>
            <mat-horizontal-stepper [linear]="isLinear" #stepper>
            <mat-step [stepControl]="firstFormGroup" label="Lista de roles">
                <h1 class="text-center">Lista de roles</h1>
                <div class="row justify-content-center">
                    <div class="col-12">
                        <table class="table text-center">
                            <thead>
                              <tr>
                                <th>#</th>
                                <th>Secuencia Rol</th>
                                <th>Nombre Rol</th>
                                <th>Abreviatura</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let item of data2;index as i" (click)=" consultarUrlPorRol(item.secuenciaRol)">
                                <td>{{i+1}}</td>
                                <td>{{item.secuenciaRol}}</td>
                                <td>{{item.descripcion | titlecase}}</td>
                                <td>{{item.abreviatura | titlecase}}</td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                </div>
                <h3><b>Privilegios</b></h3>
                <ul>
                    <ng-template #recursiveList let-data>
                      <li *ngFor="let item of data ; index as i">
                        <div class="form-inline">
                        
                          <div class="posionIco">
                            <div *ngIf="item.rutas.length > 0">
                                <img (click)="isCheckImg(item.nombre,i+1)" 
                                id="img-{{item.nombre}}-{{i+1}}" 
                                 width="10" height="10" 
                                src="../../../assets/img/signo-menos.svg">
                            </div>    
                          </div>
                  
                          <input  (click)='evento(item.id)' class="form-check-input {{item.id}}"  [checked]="item.esSelect" type="checkbox" id="d-{{item.id}}">
                          <label class="form-check-label" for="d-{{item.nombre}}-{{item.id}}">
                            {{item.secuenciaRuta}}:{{item.description}}
                          </label>
                  
                        </div>
                  
                         <ul *ngIf="item.rutas.length > 0" class="checkOculto" id="check-{{item.nombre}}-{{i+1}}">
                           <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.rutas}"></ng-container>
                         </ul>
                         
                      </li>
                    </ng-template>
                    
                    <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: data}"></ng-container>
                  </ul>
                  
                  
            </mat-step>
            <mat-step [stepControl]="secondFormGroup" label="Crear un nuevo rol">
                <form [formGroup]="secondFormGroup">
                <mat-form-field>
                    <mat-label>Crear un nuevo rol</mat-label>
                    <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                            required>
                </mat-form-field>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
                </form>
            </mat-step>
         </mat-horizontal-stepper>            
        </div>
    </div>
</div>