<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-8">
            <mat-horizontal-stepper [linear]="isLinear" #stepper>
            <mat-step [stepControl]="firstFormGroup" label="Lista de usuarios y sus roles">
                <h1 class="text-center">Usuario por rol</h1>
                <div class="row justify-content-center">
                    <div class="col-12">
                        <table class="table text-center">
                            <thead>
                              <tr>
                                <th>#</th>
                                <th>Usuario</th>
                                <th>Roles</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td >BZAMORA</td>
                                <td ><div class="toast fade show" role="alert" aria-live="assertive" aria-atomic="true">
                                    <div class="toast-header">
                                      <strong class="mr-auto">Bootstrap</strong>
                                      <small>11 mins ago</small>
                                      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="toast-body">
                                      Hello, world! This is a toast message.
                                    </div>
                                  </div></td>
                              </tr>
                          </table>
                    </div>
                </div>
                <h3><b>Privilegios</b></h3>
                <app-checkbox-recursive-rol></app-checkbox-recursive-rol>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup" label="Crear un nuevo rol">
                <form [formGroup]="secondFormGroup">
                <mat-form-field>
                    <mat-label>Crear un nuevo rol</mat-label>
                    <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                            required>
                </mat-form-field>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup" label="Actualizar rol">
                <form [formGroup]="secondFormGroup">
                <mat-form-field>
                    <mat-label>Crear un nuevo rol</mat-label>
                    <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                            required>
                </mat-form-field>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
                </form>
            </mat-step>
         </mat-horizontal-stepper>            
        </div>
    </div>
</div>